@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');

html{
    background: #343a40;
}

#root{
    background: #343a40;
    font-family: Montserrat, sans-serif;
}

.cuota {
    font-weight: 800;
    font-size: 40px;
}

.cuota-fija {
    font-weight: 800;
    font-size: 20px;
}

.fw-600 {
    font-weight: 600;
}

.fw-800 {
    font-weight: 800;
}

.recuadro {
    border: 2px solid floralwhite;
    width: 80px;
    border-radius: 5px;
    text-align: right;
}

